/* // CONTAINER */

*{
    margin: 0px;
}


.container-principal {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}


.area-header{
    grid-area: 1 / 1 / 2 / 7; 
    background-color:black;
}

.areaAddPlaylist{
    grid-area: 2 / 1 / 4 / 3;
}

.areaAddTracksPlaylist{
    grid-area: 4 / 1 / 6 / 3;
}

.areaFooter{
    grid-area: 6 / 1 / 7 / 7;
    background-color:black;
}

.areaPlaylists{
    grid-area: 2 / 3 / 5 / 5;
}

.areaTracks{
    grid-area: 2 / 5 / 5 / 7;
}

.areaAudioPlay{
    grid-area: 5 / 3 / 6 / 7;
}



/* // ESTILIZAÇÂO DE CADA ESPAÇO */

.itens-header{
    display: flex;
    justify-content:center;
    align-items: center;
    margin-top: 30px;
    
}

.itens-header img{
    width: 60px;
    height: 60px;
    margin-right: 10px;
}

.itens-header h1{
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 300%;
}



.itemAddPlaylist{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    align-items: center;
    border: 2px solid black;
    border-radius: 5px;
    padding: 10px;
}

.itemAddPlaylist h3{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-bottom: 20px;
    font-size: 150%;
    text-decoration: underline;
}

.itemAddPlaylist div{
    display: flex;
    flex-direction: column;
    align-items: center;
}


.itemAddPlaylist div input{
    border-radius: 10px;
    height: 30px;
    width: 250px;
}

.itemAddPlaylist div img{
    width: 50px;
    height: 50px;
    cursor: pointer;
}


.areaAddTracksPlaylist{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    border: 2px solid black;
    border-radius: 5px;
    padding: 5px;
}

.areaAddTracksPlaylist h3{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-bottom: 20px;
    font-size: 150%;
    text-decoration: underline;
}

.areaAddTracksPlaylist div{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.areaAddTracksPlaylist div input{
    border-radius: 10px;
    height: 30px;
    width: 250px;
    margin-bottom: 5px;
}

.areaAddTracksPlaylist img{
    width: 50px;
    height: 50px;
    cursor: pointer;
}

.areaFooter div h2{
    display: flex;
    justify-content: center;
    padding: 20px;
    margin-top: 10px;
    margin-bottom: 30px;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}


.areaFooter {
    background-color: black;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}

