/* //BOTÃO VIAGEM */

.btn-viagem {
    width: 200px;
    height: 40px;
    background-color: #87ceeb;
    border-radius: 10px;
    border: none;
    color: white;
    font-family: "Lucida Console", Courier, monospace;
  
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .btn-viagem:hover {
    background-color: #00bfff;
    color: black;
  }
  
  .btn-viagem::after {
    content: "";
    display: block;
  
    width: 0;
    height: 24px;
    overflow: hidden;
    background-image: url("");
    background-size: cover;
  
    transition: width 200ms, margin-left 200ms;
  }
  
  .btn-viagem:is(:hover, :focus)::after {
    width: 24px;
    margin-left: 8px;
  }
  
  /* BOTÃO ADM */
  
  .btn-adm {
    width: 200px;
    height: 40px;
    background-color: #87ceeb;
    border-radius: 10px;
    border: none;
    color: white;
    font-family: "Lucida Console", Courier, monospace;
  
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .btn-adm:hover {
    background-color: #00bfff;
    color: black;
  }
  
  .btn-adm::after {
    content: "";
    display: block;
  
    width: 0;
    height: 24px;
    overflow: hidden;
    background-image: url("");
    background-size: cover;
  
    transition: width 200ms, margin-left 200ms;
  }
  
  .btn-adm:is(:hover, :focus)::after {
    width: 24px;
    margin-left: 8px;
  }
  
  /* BOTÃO INSCREVER-SE */
  
  .btn-inscrever {
    width: 200px;
    height: 40px;
    background-color: #87ceeb;
    border-radius: 10px;
    border: none;
    color: white;
    font-family: "Lucida Console", Courier, monospace;
  
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .btn-inscrever:hover {
    background-color: #00bfff;
    color: black;
  }
  
  .btn-inscrever::after {
    content: "";
    display: block;
  
    width: 0;
    height: 24px;
    overflow: hidden;
    background-image: url("");
    background-size: cover;
  
    transition: width 200ms, margin-left 200ms;
  }
  
  .btn-inscrever:is(:hover, :focus)::after {
    width: 24px;
    margin-left: 8px;
  }
  
  /* BOTÃO VOLTAR */
  
  .btn-voltar {
    width: 200px;
    height: 40px;
    background-color: #87ceeb;
    border-radius: 10px;
    border: none;
    color: white;
    font-family: "Lucida Console", Courier, monospace;
  
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .btn-voltar:hover {
    background-color: #00bfff;
    color: black;
  }
  
  .btn-voltar::after {
    content: "";
    display: block;
  
    width: 0;
    height: 24px;
    overflow: hidden;
    background-image: url("");
    background-size: cover;
  
    transition: width 200ms, margin-left 200ms;
  }
  
  .btn-voltar:is(:hover, :focus)::after {
    width: 24px;
    margin-left: 8px;
  }
  
  /* BOTÃO LOGIN */
  
  .btn-login {
    width: 200px;
    height: 40px;
    background-color: #87ceeb;
    border-radius: 10px;
    border: none;
    color: white;
    font-family: "Lucida Console", Courier, monospace;
  
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .btn-login:hover {
    background-color: #00bfff;
    color: black;
  }
  
  .btn-login::after {
    content: "";
    display: block;
  
    width: 0;
    height: 24px;
    overflow: hidden;
    background-image: url("");
    background-size: cover;
  
    transition: width 200ms, margin-left 200ms;
  }
  
  .btn-login:is(:hover, :focus)::after {
    width: 24px;
    margin-left: 8px;
  }
  
  /* BOTÃO CRIAR */
  
  .btn-criar {
    width: 200px;
    height: 40px;
    background-color: #87ceeb;
    border-radius: 10px;
    border: none;
    color: white;
    font-family: "Lucida Console", Courier, monospace;
  
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .btn-criar:hover {
    background-color: #00bfff;
    color: black;
  }
  
  .btn-criar::after {
    content: "";
    display: block;
  
    width: 0;
    height: 24px;
    overflow: hidden;
    background-image: url("");
    background-size: cover;
  
    transition: width 200ms, margin-left 200ms;
  }
  
  .btn-criar:is(:hover, :focus)::after {
    width: 24px;
    margin-left: 8px;
  }
  
  /* BOTÃO-LOGOUT */
  
  .btn-logout {
    width: 200px;
    height: 40px;
    background-color: #87ceeb;
    border-radius: 10px;
    border: none;
    color: white;
    font-family: "Lucida Console", Courier, monospace;
  
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .btn-logout:hover {
    background-color: #00bfff;
    color: black;
  }
  
  .btn-logout::after {
    content: "";
    display: block;
  
    width: 0;
    height: 24px;
    overflow: hidden;
    background-image: url("");
    background-size: cover;
  
    transition: width 200ms, margin-left 200ms;
  }
  
  .btn-logout:is(:hover, :focus)::after {
    width: 24px;
    margin-left: 8px;
  }
  